form input {
  min-width: 500px;
  padding: 5px;
}

form button {
  padding: 5px 10px;
  margin-left: 10px;
}

button:hover {
  cursor: pointer;
}

.form-container {
  margin: 10px 200px;
  padding: 30px 20px;
  text-align: center;
}

.form-container .submit {
  width: 50px;
  min-width: fit-content;
  margin-left: 20px;
}
