.box {
  padding: 5px 20px 5px 20px;
  border: 1px solid #cccccc;
  margin-bottom: 5px;
  border-radius: 4px;
}

.box:hover {
  cursor: pointer;
}

.box.done {
  text-decoration: line-through;
}

.times {
  float: right;
}

.edit-icon {
  margin-top: 8px;
  margin-left: 10px;
}
